.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.PageHeader {
  height: 100px;
  display: flex;
  align-items: center;
  padding: 4px 20px 4px 10px;
  border-bottom: 1px solid rgb(221, 217, 217);
  justify-content: space-around;
}

.main {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
}

.PageContent {
  padding: 40px;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
}

.SideMenu {
  padding: 10px;
}

